.home_tom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  padding: 24px;
   .top_search{
    border: 1px solid #393c49;
    border-radius: 8px ;
    background-color: #393C49;
    padding: 14px;
    color: white;
    input{
    background-color: transparent;
    outline: none;
    border: none;
    margin-left: 10px;
    color: white;
    width: 220px;
    }
  }
}

